<div class="container">
    <div class="row">
        <div class="col-12">



            <h2>creado por {{user.username}}</h2>

            <h3>recetas Mias</h3>
            <hr>

            {{#each recipes}}


            <p>{{name}}</p>
            <img src="{{image}}" alt="image">

            {{/each}}
            <hr>

            <h3>recetas favoritas</h3>

            {{#each user.favRecipes}}

            <p>{{name}}</p>
            <img src="{{image}}" alt="image">

            <form action="/user/{{id}}/recipeFav/delete" method="POST">
                <button type="submit" class="btn btn-dark">Quitar</button>
            </form>



            {{/each}}



        </div>
    </div>
</div>