<div class="container">

    <p>{{recipe.name}}</p>

    {{!-- COMMENT --}}

    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <h1>Create Comment {{user.username}}</h1>
            <hr>
            <form action="/recipe/{{recipe.id}}/details" method="POST">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        name="description"></textarea>
                </div>

                <div>
                    const like =
                </div>
                <button type="submit" class="btn btn-dark">Save Comment</button>

            </form>
        </div>
    </div>


    {{!-- {{#each user}}

    <p>{{username}}</p>
    {{/each}} --}}
    {{#each comments}}
    <p>{{owner.username}}</p>
    <p>{{description}}</p>


    <a href="/comment/{{id}}/edit" class="btn btn-dark">Edit</a>
    <form action="/comment/{{id}}/delete" method="POST">
        <button class="btn btn-sm btn-warning" type="submit">Delete</button>
    </form>

    {{/each}}

</div>