<div class="container">


    <form action="/user/{{recipe._id}}/recipeFav" method="POST">
        <button type="submit" class="btn btn-dark">Guardar Receta</button>
    </form>



    <p>{{recipe.name}}</p>

    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <h1>Crear Comentario {{user.username}}</h1>
            <hr>
            <form action="/recipe/{{recipe.id}}/details" method="POST">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        name="description"></textarea>
                </div>

                <button type="submit" class="btn btn-dark">Guardar comentario</button>
            </form>
        </div>
    </div>

    {{!-- {{#each user}}

    <p>{{username}}</p>
    {{/each}} --}}
    {{#each comments}}
    <p>{{owner.username}}</p>
    <p>{{description}}</p>
    {{/each}}


    <h2>Mapa</h2>
    <hr>


    <figure class="restuarantsMap"></figure>

    <a href="/api/places" target="_blank">Mira la API!</a>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/recipeDetailMap.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjOt5lgJiMo2s0X3EMAguiuDo52zdXYrY&callback=recipeDetailMap"></script>


</div>