<div class="container">
    <div class="row">
        <div class="col-12">

            {{#each recipe}}

            <div class="col-12 mb-3">
                <a href="/recipe/{{id}}/details">{{name}}</a>
                <img src="{{image}}" alt="">
                <ul>
                    <li class="row">
                        <h3>{{name}}</h3>
                        <a href="/recipe/{{id}}/edit" class="btn btn-dark">Edit</a>

                        <form action="/recipe/{{id}}/like" method="POST">
                            <button class="btn btn-sm btn-warning" type="submit">Like</button>
                        </form>

                        <p>Likes: {{like}}</p>
                    </li>

                </ul>
                <a href="/" class="btn btn-dark">Home</a>

                {{#if ../isAdmin}}
                <a href="/" class="btn btn-dark">Admin</a>
                {{/if}}
                </ul>

                {{/each}}

            </div>
        </div>
    </div>