<div class="container">
    <div class="row">
        <div class="col-12">
            <ul>
                {{#each recipe}}

                <a href="/recipe/{{id}}/details">{{name}}</a>


                <h3>{{name}}</h3>
                <img src="{{image}}" alt="">
                <a href="/ingredient/{{id}}/edit" class="btn btn-dark">Edit</a>

                <form action="/ingredient/{{id}}/delete" method="POST">
                    <button class="btn btn-sm btn-warning" type="submit">Delete</button>
                </form>

                {{/each}}
            </ul>
        </div>
    </div>
</div>